@inherits RocketForms.Components.RocketFormsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@using Simplisity;
@using RocketRazorEngine.Text;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;
@AssigDataModel(Model)
<!--inject-->

<!-- NOTE: Load AdminDetail.cshtml with simplsity from browser, so we have the sessionParams -->
<!-- create element to load settings. -->
<span id="loadarticledetail" class="w3-hide" s-cmd="rocketforms_edit" s-fields='{"systemkey":"rocketforms","moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","tabid":"@moduleData.TabId"}'></span>

<script>
    $(document).ready(function () {
        simplisity_callserver($('#loadarticledetail'), '/Desktopmodules/dnnrocket/api/rocket/action', '', false);
    });
</script>


