@inherits RocketForms.Components.RocketFormsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using Simplisity;
@using RocketRazorEngine.Text;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;
@using RocketForms.Components;
@AssigDataModel(Model)
<!--inject-->

<!-- create element to load settings. -->
<span id="loadsettings" class="" s-cmd="rocketforms_settings" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","tabid":"@(Model.SessionParamsData.TabId)"}'></span>

<script>
    $(document).ready(function () {
        simplisity_callserver($('#loadsettings'), '/Desktopmodules/dnnrocket/api/rocket/action','',false);
    });
</script>


