@inherits RocketForms.Components.RocketFormsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContentAPI/App_LocalResources/")

<style>
    a.rocketconfigbutton { border: none; display: inline-block; padding: 8px 16px; vertical-align: middle; overflow: hidden; text-align: center; cursor: pointer; white-space: nowrap; background: #02be8e; color: #fff !important; border-radius: 6px; text-decoration: none !important; }
        a.rocketconfigbutton:hover { background: #ccc; color: #000 !important; }
</style>

<div style='text-align: center;'>
    <a href="{redirecturl}" class="rocketconfigbutton">
        @ResourceKey("RCT.modulesettings")
    </a>
</div>

<script>
    $(document).ready(function () {
    });
</script>
